.outer {
    width: 100%;
    min-height: 75vh;

    .inner {
        width: 100%;    
        min-height: 80vh;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        .image{
            background-repeat: no-repeat;
            background-size: cover;

            &:hover{
                
            }
        }

        .img1 {
            background-image: url('../../images/black-white-exterior-building.jpg');
        }
        .img2 {
            background-image: url('../../images/pexels-yender-fonseca-10821956.jpg');
        }
        .img3 {
            background-image: url('../../images/pexels-jeandaniel-francoeur-12842811.jpg');
        }
        .img4 {
            background-image: url('../../images/pexels-photo-3735354.jpeg');
        }
        .img5 {
            background-image: url('../../images/pexels-toms-monteiro-4107897.jpg');
        }
        .img6 {
            background-image: url('../../images/pexels-guillaume-meurice-2815033.jpg');
        }
    }
}

@media screen and (max-width: 1048px) {
    .outer {
    
        .inner {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
    
            .image{
    
                &:hover{
                    
                }
            }
    
            .img1 {
            }
            .img2 {
            }
            .img3 {
            }
            .img4 {
            }
            .img5 {
            }
            .img6 {
            }
        }
    }
}

@media screen and (max-width: 658px) {
    .outer {
    
        .inner {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    
            .image{
                min-height: 40vh;
    
                &:hover{

                }
            }
    
            .img1 {
            }
            .img2 {
            }
            .img3 {
            }
            .img4 {
            }
            .img5 {
            }
            .img6 {
            }
        }
    }
}
    